.black {
  color: black
}

.content {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.loaded {
  opacity: 1;
}

.input-group {
    margin-bottom: 15px;
}

.clear-complete {
    margin-bottom: 15px;
}